<div ng-controller="AppController as self" style="position:absolute;left:0px;top:0px;height:100%;width:100%">
  <md-toolbar layout="row" layout-align="center center" style="height:64px">
    <span flex style="padding-left:10px;white-space:nowrap;"><i class="fa fa-cloud"></i> FLACI <span hide-sm hide-md>- <b>F</b>ormal <b>L</b>anguages, <b>A</b>utomata, <b>C</b>ompilers and <b>I</b>nterpreters </span></span>
    <span flex></span>
    <md-button hide-sm aria-label="Lehrbuch" ng-click="self.openBook()"><i class="fa fa-book fa-fw"></i> <span translate="BOOKTAB"></span></md-button>
    <md-button aria-label="Home" ng-click="self.goHome()"><i class="fa fa-home fa-fw"></i> <span translate="HOME"></span></md-button>
    <ng-include src="'languageselect.html'"></ng-include>
    &nbsp;
  </md-toolbar>

  <md-content layout="row" style="position:absolute;left:0px;top:64px;bottom:0px;width:100%">
   <div style="padding:20px;margin:auto;width:320px">
      
    <h4 translate="RESETPASSWORD"></h4>
    <md-input-container layout-fill> 
      <label translate="EMAIL"></label> 
      <input name="email" ng-model="self.userLogin.resetPasswordEmail" ng-disabled="true" type="email"></input> 
    </md-input-container> 
  
    <md-input-container  style="padding-bottom:0px" layout-fill> 
      <label translate="NEWPASSWORD"></label> 
      <input required name="pass" ng-model="self.userLogin.resetPasswordPass1" type="password"></input> 
    </md-input-container> 
    <md-input-container layout-fill> 
      <label translate="PASSWORDREPEAT"></label> 
      <input required name="pass2" ng-model="self.userLogin.resetPasswordPass2" type="password"></input> 
    </md-input-container> 

    <div layout-padding style="color:red" translate="{{self.userLogin.resetPasswordError}}"></div>

    <md-button ng-click="self.userLogin.resetPassword($event)" style="float:right" class="md-primary" translate="SAVEPASSWORD"></md-button>
      
   </div>
  </md-content>
</div>
